<% if action == 'create' %>
Approval request for ticket (#{ticket.title})
<% elsif action == 'update' %>
Approval request updated for ticket (#{ticket.title})
<% elsif action == 'approve' %>
Ticket approved (#{ticket.title})
<% elsif action == 'reject' %>
Ticket rejected (#{ticket.title})
<% elsif action == 'delete' %>
Approval request deleted for ticket (#{ticket.title})
<% else %>
Approval notification for ticket (#{ticket.title})
<% end %>

<div>Hi #{recipient.firstname},</div>
<br>
<% if action == 'create' %>
  <% if recipient.id == approval.requester_id %>
    <div>You have <b>sent</b> an approval request for ticket "<b>#{ticket.title}</b>" to "<b>#{approval.approver.fullname}</b>".</div>
  <% else %>
    <div>You have <b>received</b> an approval request for ticket "<b>#{ticket.title}</b>" from "<b>#{approval.requester.fullname}</b>".</div>
  <% end %>
<% elsif action == 'update' %>
  <% if recipient.id == approval.requester_id %>
    <div>Your approval request for ticket "<b>#{ticket.title}</b>" has been updated.</div>
  <% elsif recipient.id == approval.approver_id %>
    <div>The approval request you received for ticket "<b>#{ticket.title}</b>" has been updated.</div>
  <% else %>
    <div>The approval request for ticket "<b>#{ticket.title}</b>" has been updated by "<b>#{actor.longname}</b>".</div>
  <% end %>
<% elsif action == 'approve' %>
  <% if recipient.id == approval.requester_id %>
    <div>Your approval request for ticket "<b>#{ticket.title}</b>" has been <b>approved</b> by "<b>#{approval.approver.fullname}</b>".</div>
  <% else %>
    <div>You have <b>approved</b> the request for ticket "<b>#{ticket.title}</b>".</div>
  <% end %>
<% elsif action == 'reject' %>
  <% if recipient.id == approval.requester_id %>
    <div>Your approval request for ticket "<b>#{ticket.title}</b>" has been <b>rejected</b> by "<b>#{approval.approver.fullname}</b>".</div>
  <% else %>
    <div>You have <b>rejected</b> the request for ticket "<b>#{ticket.title}</b>".</div>
  <% end %>
<% elsif action == 'delete' %>
  <% if recipient.id == approval.requester_id %>
    <div>Your approval request for ticket "<b>#{ticket.title}</b>" has been deleted.</div>
  <% else %>
    <div>The approval request you received for ticket "<b>#{ticket.title}</b>" has been deleted.</div>
  <% end %>
<% else %>
<div>There has been an update to the approval request for ticket "<b>#{ticket.title}</b>".</div>
<% end %>
<br>
<div>
Ticket: ##{ticket.number}<br>
Status: #{t(approval.status)}<br>
Priority: #{t(approval.priority)}<br>
Approver: #{approval.approver.fullname}<br>
Requester: #{approval.requester.fullname}<br>
<% if approval.message.present? %>
Message: #{approval.message}<br>
<% end %>
</div>
<br>
<% unless ['delete'].include?(action) %>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">View this in #{config.product_name}</a>
</div>
<% end %>
